a{
	text-decoration:none;
}

.loading{
	position: fixed;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	background:#fff;
	z-index: 99999;
}
.loadingfa{
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:29px;
	color:#444;
	position:absolute;
	left: 50%;
	margin-top:-25px;
	margin-left:-25px;
	top:50%;
}

.animteeh{
	opacity: 0.2;
	transition: all ease 1.5s;
		-webkit-transition: all ease 1.5s;
		-moz-transition: all ease 1.5s;
		-o-transition: all ease 1.5s;
		transform: translateY(100px);
		-webkit-transform: translateY(100px);
		-moz-transform: translateY(100px);
		-ms-transform: translateY(100px);
		-o-transform: translateY(100px);
		
		
}
.animteeh.active{
	opacity:1;
	transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
}

.animts{
	opacity: 0.2;
	transition: all ease 1.5s;
		-webkit-transition: all ease 1.5s;
		-moz-transition: all ease 1.5s;
		-o-transition: all ease 1.5s;
		transform: translateY(100px);
		-webkit-transform: translateY(100px);
		-moz-transform: translateY(100px);
		-ms-transform: translateY(100px);
		-o-transform: translateY(100px);
		
		
}
.active .animts{
	opacity:1;
	transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
}


@keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
from{-moz-transform:rotate(0deg)}
to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
from{-ms-transform:rotate(0deg)}
to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
from{-o-transform:rotate(0deg)}
to{-o-transform:rotate(360deg)}
}

@keyframes rotate1{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(-360deg)}
}
@-webkit-keyframes rotate1{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(-360deg)}
}
@-moz-keyframes rotate1{
from{-moz-transform:rotate(0deg)}
to{-moz-transform:rotate(-360deg)}
}
@-ms-keyframes rotate1{
from{-ms-transform:rotate(0deg)}
to{-ms-transform:rotate(-360deg)}
}
@-o-keyframes rotate1{
from{-o-transform:rotate(0deg)}
to{-o-transform:rotate(-360deg)}
}


.xuanzhuan{
	 animation: 2s linear 0s normal forwards infinite rotate;
	 -webkit-animation: 2s linear 0s normal forwards infinite rotate;
	 -moz-animation: 2s linear 0s normal forwards infinite rotate;
	 -o-animation: 2s linear 0s normal forwards infinite rotate;
}.xuanzhuan1{
	 animation: 5s linear 0s normal forwards infinite rotate;
	 -webkit-animation: 5s linear 0s normal forwards infinite rotate;
	 -moz-animation: 5s linear 0s normal forwards infinite rotate;
	 -o-animation: 5s linear 0s normal forwards infinite rotate;
}

.nizhuan{
	animation: 2s linear 0s normal forwards infinite rotate1;
	 -webkit-animation: 2s linear 0s normal forwards infinite rotate1;
	 -moz-animation: 2s linear 0s normal forwards infinite rotate1;
	 -o-animation: 2s linear 0s normal forwards infinite rotate1;
}


.nizhuan1{
	animation: 3s linear 0s normal forwards infinite rotate1;
	 -webkit-animation: 3s linear 0s normal forwards infinite rotate1;
	 -moz-animation: 3s linear 0s normal forwards infinite rotate1;
	 -o-animation: 3s linear 0s normal forwards infinite rotate1;
}
@keyframes Updown{from{margin-top:-0.32rem;}to{margin-top:0rem;}}
.shangxia{
	animation:1.4s  0s alternate none infinite running Updown;
}
.yaohuan{
	animation:2.4s  0s alternate none infinite running swing;
}.yaohuan1{
	animation:9.4s  0s alternate none infinite running swing;
}.flash{
	animation:2.4s  0s alternate none infinite running flash;
}.wobble{
	animation:20.4s  0s alternate none infinite running wobble;
}
.dtable{
	display:table;
	width:100%;
	height:100%;
}
.dcell{
	display:table-cell;
	vertical-align: middle;
	
}

.inner{
	width:1013px;
	margin:0 auto;
}
.header{
	height: 89px;
	background:#0f64a5;
}
.logo{
	width:242px;
	height:85px;
	text-align:center;
	float:left;
	padding-top:4px;
	background: url(../images/logobg.png) no-repeat center top;
}
.nav{
	float:right;
	padding-top:30px;
}
.nav li{
	float:left;
	line-height:35px;
}
.nav li a{
	padding:0px 18px;
	display:block;
	color:#fff;
	border-radius:18px;
	
}
.nav li a:hover{
	background:#e67818;
}.nav li.cur a{
	background:#e67818;
}


.banner{
	height:451px;
	position:relative;
	overflow:hidden;
	/* background: url(../images/banner.jpg) no-repeat center top; */
}
.banner .tutu{
	position:absolute;
	width:1920px;
	left:50%;
	margin-left:-960px;
	top: 0px;
}
.banner .tutu li{
	position:absolute;
	left: 0px;
	top: 0px;
	width:100%;
	display:none;
}
.banner .tutu li.cur{
	display:block;
}
.banner .yuandian{
	position:absolute;
	left: 0px;
	bottom:30px;
	width:100%;
	text-align:center;
	z-index:30;
}
.banner .yuandian span{
	display:inline-block;
	border-radius:100%;
	margin:0px 4px;
	background:#fff;
	width:12px; 
	height:12px;
}
.hongx{
	color:red;
}
.banner .yuandian span.cur{
	background:#fff000;
}
.loginbx{
	position:absolute;
	width:318px;
	height:325px;
	background: url(../images/dengbg.png) no-repeat center top;
	right: 0px;
	top: 49px;
}
.login{
	width:256px;
	margin:0 auto;
}
.logitl{
	font-size:22px;
	color:#0f64a5;
	font-weight:bold;
	padding-bottom:11px;
	padding-top:20px;
	text-align:center;
}
.denginpt{
	height:40px;
	border:1px solid #a5a5a5;
	background: none;
	width:100%;
	width:calc(100% - 2px);
	text-indent:34px;
	font-size:12px;
	color:#333;
	outline: none;
	border-radius:4px;
}
.denginpt-yz{
	width:166px;
	
}
.loginul li{
	padding-bottom:9px;
}
.dicon1{background:#fff url(../images/icon1.png) no-repeat 8px center;}
.dicon2{background:#fff url(../images/icon2.png) no-repeat 8px center;}
.dicon3{background:#fff url(../images/icon3.png) no-repeat 8px center;}

.dbtn{
	float:left;
	width: 123px;
	height: 39px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ac0000;
	text-align:center;
	color:#fff;
	line-height:39px;
} 

.kbtn{
	float:right;
	text-align:center;
	color:#fff;
	line-height:39px;
		width: 123px;
	height: 39px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #0f64a5;
}
.youke{
	display:block;
	line-height:42px;
	text-align:center;
	color:#fff;
	height: 42px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #e67818;
}
.wangsjiw{
	font-size:12px;
	text-align:center;
	color:#fff;
}
.wangsjiw a{
	color:#fff;
}
.wangsjiw a:hover{
	text-decoration:underline;
}
	
.newbox{
	
	height:40px;
	width:100%;
	background: url(../images/newbg.png) no-repeat center top;
	z-index: 99;
}
.newin{
	height: 40px;
	padding-left:133px;
	background: url(../images/newtl.png) no-repeat left center;
}
.lunleft{
	position:relative;
	overflow:hidden;
	height:40px;
}
.lunleft ul{
	position:absolute;
	left:100%;
	top: 0px;
	display:table;
}
.lunleft ul li{
	display:table-cell;
	white-space:nowrap;
	line-height:40px;
	color:#fff;
}
.lunleft ul li a{
	color:#fff;
}
.psr{
	position:relative;
}
.rightdao{
	position:absolute;
	right: 10px;
	top: 100px;
	z-index: 99;
}
.dexmbgbx{
	padding-top:20px;
	padding-bottom:14px;
}
.dexmbgbx li{
	float:left;
	width:16.66%;
	text-align:center;
	height: 205px;
	transition: all ease 0.2s;
			-webkit-transition: all ease 0.2s;
			-moz-transition: all ease 0.2s;
			-o-transition: all ease 0.2s;
	background: url(../images/dexbg.jpg) no-repeat center top;
}
.dexmbgbx li:hover{
	background: url(../images/dexbgcur.jpg) no-repeat center top;
}
.demxmnb{
	display:block;
	text-align:center;
	height:150px;
}
.dexmmtl{
	display:block;
	text-align:center;
}
.ddxkkbtn{
	display:block;
	background:#0f64a5;
	margin:0 auto;
	width:87px;
	height:26px;
	line-height:26px;
	color:#fff;
	text-align:center;
	border-radius:6px;
}
.syouxlist a{
	float:left;
	width:320px;
	height:35px;
	text-align:center;
	line-height:35px;
	color:#fff;
	background:#0f64a5;
	border-radius:16px;
}
.footer{
	padding-top:35px;
	padding-bottom:22px;
	border-bottom:23px solid #0f64a5;
}
.fncop{
	color:#565656;
	font-size:12px;
	text-align:center;
}

.subbg{
	padding-top:220px;
}
.subbg1{background:#e7eef6 url(../images/subbg1.jpg) no-repeat center -89px;}
.subbg2{background:#e7eef6 url(../images/subbg2.jpg) no-repeat center -89px;}
.subbg3{background:#e7eef6 url(../images/subbg3.jpg) no-repeat center -89px;}
.subbg4{background:#e7eef6 url(../images/subbg4.jpg) no-repeat center -89px;}
.subbg5{background:#e7eef6 ;padding-top:0px;}
.subbg6{background:#e7eef6 url(../images/subbg6.jpg) no-repeat center -89px;}

.subcinnr{
	background:#fff;
	padding:13px;
}

.zhushu{
	height: 38px;
	padding-bottom: 15px;
}
.zhushu span{
	display: block;
	font-size: 14px;
	line-height: 38px;
	color: red;
}
.zhushu .zt{
	width: 145px;
	color: #000;
	text-align: right;
	margin-right: 10px;
}
.zhushu input{
	height: 36px;
	border:1px solid #e0e0e0;
	border-radius: 5px;
	width: 260px;
	float: left;
	padding-left: 10px;
	margin-right: 15px;
}
.zhushu select{
	float: left;
	margin-right: 11px;
	height: 36px;
	border-radius: 5px;
	width: 60px;
	border:1px solid #e0e0e0;
}
.chuang{
	display: block;
	float: left;
	font-size: 18px;
	text-align: center;
	width: 270px;
	line-height: 36px;
	height: 36px;
	background: #9A3B8F;
	color: #fff;
	border-radius: 6px;
	border:1px solid #969B97;
}
.zhutshi{
	text-align:center;
	color:#7d7d7d;
	font-size:16px;
	line-height:55px;
}.ymbtns{
	
}
.tijisbtn{
	float:left;
	width: 272px;
	height:45px;
	line-height:45px;
	text-align:center;
	color:#fff;
	background:#2161b3;
	border-radius: 6px;
	margin-right: 23px;
}

    
.youhuibg{
	
}
.youhuibgin{
	
	
}
.yohuqie{
	padding-bottom:12px;
	border-bottom:1px solid #eee;
}
.yohuqie a{
	float:left;
	width:110px;
	margin-right:6px;
	line-height:42px;
	text-align:center;
	background:#e7e7e7;
	color:#111;
	border-radius:4px;
}
.yohuqie a.cur{
	background:#075db5;
	color:#fff;
}
.yh2{
	display:none;
}
.youhuiul li{
	margin-bottom:16px;
}
.leftnav{
	float:left;
	width:198px;
}
.leftnav ul li{
	height:52px;
	background:#fff;
	border:1px solid #0f64a5;
	border-radius:6px;
	position:relative;
	margin-bottom:10px;
}
.leftnav ul li:after{
	content: "";
	position:absolute;
	left:100%;
	width:33px;
	height:100%;
	top: 0px;
	display:none;
	background: url(../images/sj.png) no-repeat left center;
}
.leftnav ul li:hover{
	background:#0f64a5;
}
.leftnav ul li:hover:after{
	display:block;
}.leftnav ul li.cur{
	background:#0f64a5;
}
.leftnav ul li.cur:after{
	display:block;
}
.leftnav ul li a{
	display:block;
	padding-left:89px;
	display:block;
	font-size:16px;
	color:#0f64a5;
	line-height:52px;
	background: url(../images/licon.png) no-repeat;
}.leftnav ul li a:hover{
	color:#fff;
}.leftnav ul li.cur a{
	color:#fff;
}
.leftnav ul li a.licon1{background-position: 35px 12px;}
.leftnav ul li a.licon2{background-position: 35px -50px;}
.leftnav ul li a.licon3{background-position: 35px -112px;}
.leftnav ul li a.licon4{background-position: 35px -174px;}
.leftnav ul li a.licon5{background-position: 35px -236px;}
.leftnav ul li a:hover{background-image:url(../images/liconcur.png);}
.leftnav ul li.cur a{background-image:url(../images/liconcur.png);}

.ricnotct{
	float:right;
	width:764px;
	background:#0f64a5;
}
.ricnotctin{
	padding:0px 28px;
	color:#fff;
	padding-bottom:33px;
}
.r3oolt{
	text-align:center;
	line-height:70px;
	color:#fff;
	font-size:24px;
}
.lsinxiz{
	font-size:24px;
	display:block;
	padding:12px 0px;
}
.subcinnr{
	min-height:300px;
}
.subban{
	height:340px;
	background: url(../images/subban.jpg) no-repeat center top;
}
.xianslux {
	overflow:hidden;
	border:1px solid #ddd;
	border-right: none;
	margin:0px 60px;
}
.xianslux li{
	float:left;
	color:#666;
	width:16.66%;
	line-height:51px;
	box-sizing: border-box;
	border-right:1px solid #dddddd;
	text-align:center;
}
.xianslux li a{
	color:#666;
	font-weight:400;
}
.xianslux li span,
.xianslux li span em
{
	font-style:italic;
}
.caipbox{
	margin:0px 60px;
	margin-top:10px;
}
.caipbox li{
	float:left;
	width:25%;
	height: 240px;
	text-align:center;
	background: url(../images/xian.png) no-repeat right center;
}
.caipbox li:last-child{
	background: none;
}
.casoobx{
	display:block;
	text-align:center;
	padding-top:34px;
}
.caidz{
	display:block;
	font-size:30px;
	font-weight:bold;
	line-height:40px;
	padding-top:6px;
}
.caixz{
	color:#393939;
}