.captcha-index{
    width: 83px;
    height: 41px;
    float: right;
    border-radius: 4px;
    cursor: pointer;
}
.captcha-reg{
    width: 142px;
    height: 38px;
    float: right;
    border-radius: 4px;
    cursor: pointer;
}