body {
	margin: 0;
	padding: 0;
	background: #FFF;
	font-size: 12px;
	font: 12px/2em Microsoft YaHei, SimSun, Arial;
	color: #5e5e5e;
}
div, form, img, ul, ol, li, dl, dt, dd, p {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style-type: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
}
table {
	border-collapse: collapse;
}
a:link {
	color: #1f3a87;
	text-decoration: none;
}
a:visited {
	color: #83006f;
	text-decoration: none;
}
a:hover {
	color: #bc2931;
	text-decoration: underline;
}
a:active {
	color: #bc2931;
}
/*主体内容*/
.topic_mian {
	width: 984px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px #c7c7c7;
	margin: 0 auto;
}
.topic_content {
	padding: 20px;
	border-top: dashed 2px #e5e5e5;
	margin-top: 20px;
}
.topic_content_txt {
	margin-bottom: 10px;
}
.topic_content_title {
	padding: 0 15px;
	margin-bottom: 5px;
	min-width: 166px;
	display: inline-block;
	height: 33px;
	line-height: 33px;
	border-radius: 16px;
	font-size: 18px;
	color: #fff;
	background: #770d2a;
	background-image: -moz-linear-gradient( -174deg, #0678b1 0%, #0093dd 47%, #0482c1 100%);
	background-image: -webkit-linear-gradient( -174deg, #0678b1 0%, #0093dd 47%, #0482c1 100%);
	background-image: -ms-linear-gradient( -174deg, #0678b1 0%, #0093dd 47%, #0482c1  100%);
}
.topic_content_title .icon {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: text-top;
	background: url("../images/icon.png") no-repeat;
	margin: 0 15px;
}
.topic_content_txt p {
	color: #5e5e5e;
	font-size: 14px;
	line-height: 24px;
}
.topic_content_txt .red {
	color: #0093dd;
	font-size: 14px
}
.topic_content_img {
	text-align: center;
}
/*表格*/
.table {
	border: 1px solid #aaa;
	width: 100%;
}
.table th {
	font-size: 14px;
	text-align: center;
	background: #eee
}
.table td {
	font-size: 14px;
	text-align: center;
}
.table .bt {
	padding-left: 20px;
	text-align: left;
	background: #eee;
	font-weight: bold;
}
