<ion-view class="login-actiyity" view-title="">
    <ion-nav-bar class="bar-positive bar-activity">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon-prepage" href="#/home"></a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div class="bg">
            <div class="wrap">
                <div class="box-roll">
                    <div class="flash-roll">
                        <img src="/mobile/images/activity/login/bg_box.png" alt="">
                    </div>
                    <div class="roll-container">
                        <div class="back-roll" id="rollbar">
                            <img src="/mobile/images/activity/login/roll_h.png" alt="">
                            <div class="back-light1 roll-img">
                                <img src="/mobile/images/activity/login/redlights_un.png" alt="" id="light1">
                            </div>
                            <div class="back-light2 roll-img">
                                <img src="/mobile/images/activity/login/whitelights.png" alt="" id="light2">
                            </div>
                        </div>
                    </div>
                    <div class="btn-roll" ng-click="rollRun()">
                        <img src="/mobile/images/activity/login/cur.png" alt="" id="light2">
                    </div>
                </div>
                <div class="showbar">
                    <img src="/mobile/images/activity/login/showbar.png">
                    <p class="text">您还有{{rollType ? 1 : 0}}次机会</p>
                </div>
                <div class="bottom">
                    <ul>
                        <li class="tit">奖项设置：</li>
                        <li>一等奖：{{activity.details[0].prizeList[0].name}}</li>
                        <li>二等奖：{{activity.details[0].prizeList[1].name}}</li>
                        <li>三等奖：{{activity.details[0].prizeList[2].name}}</li>
                        <li>四等奖：{{activity.details[0].prizeList[3].name}}</li>
                        <li>五等奖：{{activity.details[0].prizeList[4].name}}</li>
                        <li>六等奖：{{activity.details[0].prizeList[5].name}}</li>
                        <li class="tit">活动时间:</li>
                        <li>{{activity.beginAt}} 至 {{activity.endAt}}</li>
                        <li class="tit">参与对象:</li>
                        <li>{{activity.activityDesc}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
