<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">一肖</div></div>

    <div class="row">
        <div class="col bet ok" data-id="709401">
            <div class="bet-content left pd3">鼠</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='鼠'></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709402">
            <div class="bet-content left pd3">牛</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='牛'></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709403">
            <div class="bet-content left pd3">虎</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='虎'></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709404">
            <div class="bet-content left pd3">兔</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='兔'></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709405">
            <div class="bet-content left pd3">龙</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='龙'></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709406">
            <div class="bet-content left pd3">蛇</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='蛇'></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709407">
            <div class="bet-content left pd3">马</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='马'></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709408">
            <div class="bet-content left pd3">羊</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='羊'></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709409">
            <div class="bet-content left pd3">猴</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='猴'></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709410">
            <div class="bet-content left pd3">鸡</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='鸡'></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709411">
            <div class="bet-content left pd3">狗</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='狗'></div>
        </div>
    </div>

    <div class="row end">
        <div class="col bet ok" data-id="709412">
            <div class="bet-content left pd3">猪</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round" zodiac='猪'></div>
        </div>
    </div>


    <div class="row text-center"><div class="col title-no">尾数</div></div>

    <div class="row">
        <div class="col bet ok" data-id="709413">
            <div class="bet-content left pd3">0尾</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round"><span class="round-3 blue">10</span><span class="round-3 blue">20</span><span class="round-3 red">30</span><span class="round-3 red">40</span></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709414">
            <div class="bet-content left pd3">1尾</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round"><span class="round-3 red">01</span><span class="round-3 green">11</span><span class="round-3 green">21</span><span class="round-3 blue">31</span><span class="round-3 blue">41</span></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709415">
            <div class="bet-content left pd3">2尾</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round"><span class="round-3 red">02</span><span class="round-3 red">12</span><span class="round-3 green">22</span><span class="round-3 green">32</span><span class="round-3 blue">42</span></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709416">
            <div class="bet-content left pd3">3尾</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round"><span class="round-3 blue">03</span><span class="round-3 red">13</span><span class="round-3 red">23</span><span class="round-3 green">33</span><span class="round-3 green">43</span></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709417">
            <div class="bet-content left pd3">4尾</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round"><span class="round-3 blue">04</span><span class="round-3 blue">14</span><span class="round-3 red">24</span><span class="round-3 red">34</span><span class="round-3 green">44</span></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709418">
            <div class="bet-content left pd3">5尾</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round"><span class="round-3 green">05</span><span class="round-3 blue">15</span><span class="round-3 blue">25</span><span class="round-3 red">35</span><span class="round-3 red">45</span></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709419">
            <div class="bet-content left pd3">6尾</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round"><span class="round-3 green">06</span><span class="round-3 green">16</span><span class="round-3 blue">26</span><span class="round-3 blue">36</span><span class="round-3 red">46</span></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709420">
            <div class="bet-content left pd3">7尾</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round"><span class="round-3 red">07</span><span class="round-3 green">17</span><span class="round-3 green">27</span><span class="round-3 blue">37</span><span class="round-3 blue">47</span></div>
        </div>
    </div>

    <div class="row">
        <div class="col bet ok" data-id="709421">
            <div class="bet-content left pd3">8尾</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round"><span class="round-3 red">08</span><span class="round-3 red">18</span><span class="round-3 green">28</span><span class="round-3 green">38</span><span class="round-3 blue">48</span></div>
        </div>
    </div>

    <div class="row end">
        <div class="col bet bet-bottom ok" data-id="709422">
            <div class="bet-content left pd3">9尾</div>
            <div class="bet-item left lh14"></div>
            <div class="right mr10 bet-round"><span class="round-3 blue">09</span><span class="round-3 red">19</span><span class="round-3 red">29</span><span class="round-3 green">39</span><span class="round-3 green">49</span></div>
        </div>
    </div>
</ion-content>