<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">两面</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8520601"><span class="bet-content">特大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520602"><span class="bet-content">特小</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8520603"><span class="bet-content">特单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520604"><span class="bet-content">特双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8520605"><span class="bet-content">特合大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520606"><span class="bet-content">特合小</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8520607"><span class="bet-content">特合单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520608"><span class="bet-content">特合双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8520615"><span class="bet-content">特天肖</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520616"><span class="bet-content">特地肖</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8520617"><span class="bet-content">特前肖</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520618"><span class="bet-content">特后肖</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8520619"><span class="bet-content">特家肖</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520620"><span class="bet-content">特野肖</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8520609"><span class="bet-content">特尾大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520610"><span class="bet-content">特尾小</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8520621"><span class="bet-content">总和单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520622"><span class="bet-content">总和双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8520623"><span class="bet-content">总和大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520624"><span class="bet-content">总和小</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8520611"><span class="bet-content">特大单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520612"><span class="bet-content">特大双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row end">
        <div class="col col-50 bet ok" data-id="8520613"><span class="bet-content">特小单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8520614"><span class="bet-content">特小双</span> <span class="bet-item"></span></div>
    </div>
</ion-content>