<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">正码</div></div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521101"><div class="bet-content"><span class="round-3 red">01</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521102"><div class="bet-content"><span class="round-3 red">02</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521103"><div class="bet-content"><span class="round-3 blue">03</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521104"><div class="bet-content"><span class="round-3 blue">04</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521105"><div class="bet-content"><span class="round-3 green">05</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521106"><div class="bet-content"><span class="round-3 green">06</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521107"><div class="bet-content"><span class="round-3 red">07</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521108"><div class="bet-content"><span class="round-3 red">08</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521109"><div class="bet-content"><span class="round-3 blue">09</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521110"><div class="bet-content"><span class="round-3 blue">10</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521111"><div class="bet-content"><span class="round-3 green">11</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521112"><div class="bet-content"><span class="round-3 red">12</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521113"><div class="bet-content"><span class="round-3 red">13</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521114"><div class="bet-content"><span class="round-3 blue">14</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521115"><div class="bet-content"><span class="round-3 blue">15</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521116"><div class="bet-content"><span class="round-3 green">16</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521117"><div class="bet-content"><span class="round-3 green">17</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521118"><div class="bet-content"><span class="round-3 red">18</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521119"><div class="bet-content"><span class="round-3 red">19</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521120"><div class="bet-content"><span class="round-3 blue">20</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521121"><div class="bet-content"><span class="round-3 green">21</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521122"><div class="bet-content"><span class="round-3 green">22</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521123"><div class="bet-content"><span class="round-3 red">23</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521124"><div class="bet-content"><span class="round-3 red">24</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521125"><div class="bet-content"><span class="round-3 blue">25</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521126"><div class="bet-content"><span class="round-3 blue">26</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521127"><div class="bet-content"><span class="round-3 green">27</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521128"><div class="bet-content"><span class="round-3 green">28</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521129"><div class="bet-content"><span class="round-3 red">29</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521130"><div class="bet-content"><span class="round-3 red">30</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521131"><div class="bet-content"><span class="round-3 blue">31</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521132"><div class="bet-content"><span class="round-3 green">32</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521133"><div class="bet-content"><span class="round-3 green">33</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521134"><div class="bet-content"><span class="round-3 red">34</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521135"><div class="bet-content"><span class="round-3 red">35</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521136"><div class="bet-content"><span class="round-3 blue">36</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521137"><div class="bet-content"><span class="round-3 blue">37</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521138"><div class="bet-content"><span class="round-3 green">38</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521139"><div class="bet-content"><span class="round-3 green">39</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521140"><div class="bet-content"><span class="round-3 red">40</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521141"><div class="bet-content"><span class="round-3 blue">41</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521142"><div class="bet-content"><span class="round-3 blue">42</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8521143"><div class="bet-content"><span class="round-3 green">43</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521144"><div class="bet-content"><span class="round-3 green">44</span></div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8521145"><div class="bet-content"><span class="round-3 red">45</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8521146"><div class="bet-content"><span class="round-3 red">46</span></div><div class="bet-item"></div></div>
        <div class="col col-50 bet ok" data-id="8521147"><div class="bet-content"><span class="round-3 blue">47</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8521148"><div class="bet-content"><span class="round-3 blue">48</span></div><div class="bet-item"></div></div>
        <div class="col col-50 bet ok" data-id="8521149"><div class="bet-content"><span class="round-3 green">49</span></div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title-no">两面</div></div>

    <div data-title="两面">
        <div class="row">
            <div class="col col-50 bet ok" data-id="8520623"><span class="bet-content">总大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="8520624"><span class="bet-content">总小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row end">
            <div class="col col-50 bet ok" data-id="8520621"><span class="bet-content">总单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="8520622"><span class="bet-content">总双</span> <span class="bet-item"></span></div>
        </div>
    </div>
</ion-content>