<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">正码一</div></div>

    <div data-title="正码一">
        <div class="row">
            <div class="col col-50 bet ok" data-id="85212052"><span class="bet-content">大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212053"><span class="bet-content">小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212050"><span class="bet-content">单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212051"><span class="bet-content">双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212056"><span class="bet-content">合大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212057"><span class="bet-content">合小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212054"><span class="bet-content">合单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212055"><span class="bet-content">合双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212061"><span class="bet-content">尾大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212062"><span class="bet-content">尾小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-33 bet ok" data-id="85212058"><span class="bet-content">红波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212059"><span class="bet-content">蓝波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212060"><span class="bet-content">绿波</span> <span class="bet-item"></span></div>
        </div>
    </div>


    <div class="row text-center"><div class="col title-no">正码二</div></div>

    <div data-title="正码二">
        <div class="row">
            <div class="col col-50 bet ok" data-id="85212114"><span class="bet-content">大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212115"><span class="bet-content">小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212112"><span class="bet-content">单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212113"><span class="bet-content">双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212118"><span class="bet-content">合大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212119"><span class="bet-content">合小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212116"><span class="bet-content">合单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212117"><span class="bet-content">合双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212123"><span class="bet-content">尾大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212124"><span class="bet-content">尾小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-33 bet ok" data-id="85212120"><span class="bet-content">红波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212121"><span class="bet-content">蓝波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212122"><span class="bet-content">绿波</span> <span class="bet-item"></span></div>
        </div>
    </div>


    <div class="row text-center"><div class="col title-no">正码三</div></div>

    <div data-title="正码三">
        <div class="row">
            <div class="col col-50 bet ok" data-id="85212176"><span class="bet-content">大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212177"><span class="bet-content">小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212174"><span class="bet-content">单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212175"><span class="bet-content">双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212180"><span class="bet-content">合大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212181"><span class="bet-content">合小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212178"><span class="bet-content">合单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212179"><span class="bet-content">合双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212185"><span class="bet-content">尾大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212186"><span class="bet-content">尾小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-33 bet ok" data-id="85212182"><span class="bet-content">红波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212183"><span class="bet-content">蓝波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212184"><span class="bet-content">绿波</span> <span class="bet-item"></span></div>
        </div>
    </div>


    <div class="row text-center"><div class="col title-no">正码四</div></div>

    <div data-title="正码四">
        <div class="row">
            <div class="col col-50 bet ok" data-id="85212238"><span class="bet-content">大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212239"><span class="bet-content">小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212236"><span class="bet-content">单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212237"><span class="bet-content">双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212242"><span class="bet-content">合大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212243"><span class="bet-content">合小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212240"><span class="bet-content">合单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212241"><span class="bet-content">合双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212247"><span class="bet-content">尾大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212248"><span class="bet-content">尾小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-33 bet ok" data-id="85212244"><span class="bet-content">红波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212245"><span class="bet-content">蓝波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212246"><span class="bet-content">绿波</span> <span class="bet-item"></span></div>
        </div>
    </div>


    <div class="row text-center"><div class="col title-no">正码五</div></div>

    <div data-title="正码五">
        <div class="row">
            <div class="col col-50 bet ok" data-id="85212300"><span class="bet-content">大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212301"><span class="bet-content">小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212298"><span class="bet-content">单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212299"><span class="bet-content">双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212304"><span class="bet-content">合大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212305"><span class="bet-content">合小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212302"><span class="bet-content">合单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212303"><span class="bet-content">合双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212309"><span class="bet-content">尾大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212310"><span class="bet-content">尾小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-33 bet ok" data-id="85212306"><span class="bet-content">红波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212307"><span class="bet-content">蓝波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212308"><span class="bet-content">绿波</span> <span class="bet-item"></span></div>
        </div>
    </div>


    <div class="row text-center"><div class="col title-no">正码六</div></div>

    <div data-title="正码六">
        <div class="row">
            <div class="col col-50 bet ok" data-id="85212362"><span class="bet-content">大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212363"><span class="bet-content">小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212360"><span class="bet-content">单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212361"><span class="bet-content">双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212366"><span class="bet-content">合大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212367"><span class="bet-content">合小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212364"><span class="bet-content">合单</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212365"><span class="bet-content">合双</span> <span class="bet-item"></span></div>
        </div>

        <div class="row">
            <div class="col col-50 bet ok" data-id="85212371"><span class="bet-content">尾大</span> <span class="bet-item"></span></div>
            <div class="col col-50 bet ok" data-id="85212372"><span class="bet-content">尾小</span> <span class="bet-item"></span></div>
        </div>

        <div class="row end">
            <div class="col col-33 bet ok" data-id="85212368"><span class="bet-content">红波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212369"><span class="bet-content">蓝波</span> <span class="bet-item"></span></div>
            <div class="col col-33 bet ok" data-id="85212370"><span class="bet-content">绿波</span> <span class="bet-item"></span></div>
        </div>
    </div>

</ion-content>