<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">总肖</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8521701"><span class="bet-content">2肖</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8521702"><span class="bet-content">3肖</span> <span class="bet-item"></span></div>
    </div>

    <div class="row end">
        <div class="col col-50 bet ok" data-id="8521703"><span class="bet-content">4肖</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8521704"><span class="bet-content">5肖</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8521705"><span class="bet-content">6肖</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8521706"><span class="bet-content">7肖</span> <span class="bet-item"></span></div>
    </div>

    <div class="row end">
        <div class="col col-50 bet ok" data-id="8521707"><span class="bet-content">总肖单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8521708"><span class="bet-content">总肖双</span> <span class="bet-item"></span></div>
    </div>

</ion-content>