.T_KL8{
    margin: 0 auto;
}.T_KL8 span{
    display: block;
    float: left;
    margin-right: 7px;
}
.T_KL8 span b{
    width: 21px;
    height: 21px;
    display: block;
}
.T_KL8 b{
    margin: 3px 0 0 3px;
    height: 22px !important;
    width: 22px !important;
    background: url(/back/img/ball_5_small.png) no-repeat;
}
.T_KL8 .b1 {
    background-position:0 0
}
.T_KL8 .b2 {
    background-position:0 -23px
}
.T_KL8 .b3 {
    background-position:0 -46px
}
.T_KL8 .b4 {
    background-position:0 -69px
}
.T_KL8 .b5 {
    background-position:0 -92px
}
.T_KL8 .b6 {
    background-position:0 -115px
}
.T_KL8 .b7 {
    background-position:0 -138px
}
.T_KL8 .b8 {
    background-position:0 -161px
}
.T_KL8 .b9 {
    background-position:0 -184px
}
.T_KL8 .b10 {
    background-position:0 -207px
}
.T_KL8 .b11 {
    background-position:0 -230px
}
.T_KL8 .b12 {
    background-position:0 -253px
}
.T_KL8 .b13 {
    background-position:0 -276px
}
.T_KL8 .b14 {
    background-position:0 -299px
}
.T_KL8 .b15 {
    background-position:0 -322px
}
.T_KL8 .b16 {
    background-position:0 -345px
}
.T_KL8 .b17 {
    background-position:0 -368px
}
.T_KL8 .b18 {
    background-position:0 -391px
}
.T_KL8 .b19 {
    background-position:0 -414px
}
.T_KL8 .b20 {
    background-position:0 -437px
}
.T_KL8 .b21 {
    background-position:0 -460px
}
.T_KL8 .b22 {
    background-position:0 -483px
}
.T_KL8 .b23 {
    background-position:0 -506px
}
.T_KL8 .b24 {
    background-position:0 -529px
}
.T_KL8 .b25 {
    background-position:0 -552px
}
.T_KL8 .b26 {
    background-position:0 -575px
}
.T_KL8 .b27 {
    background-position:0 -598px
}
.T_KL8 .b28 {
    background-position:0 -621px
}
.T_KL8 .b29 {
    background-position:0 -644px
}
.T_KL8 .b30 {
    background-position:0 -667px
}
.T_KL8 .b31 {
    background-position:0 -690px
}
.T_KL8 .b32 {
    background-position:0 -713px
}
.T_KL8 .b33 {
    background-position:0 -736px
}
.T_KL8 .b34 {
    background-position:0 -759px
}
.T_KL8 .b35 {
    background-position:0 -782px
}
.T_KL8 .b36 {
    background-position:0 -805px
}
.T_KL8 .b37 {
    background-position:0 -828px
}
.T_KL8 .b38 {
    background-position:0 -851px
}
.T_KL8 .b39 {
    background-position:0 -874px
}
.T_KL8 .b40 {
    background-position:0 -897px
}
.T_KL8 .b41 {
    background-position:0 -920px
}
.T_KL8 .b42 {
    background-position:0 -943px
}
.T_KL8 .b43 {
    background-position:0 -966px
}
.T_KL8 .b44 {
    background-position:0 -989px
}
.T_KL8 .b45 {
    background-position:0 -1012px
}
.T_KL8 .b46 {
    background-position:0 -1035px
}
.T_KL8 .b47 {
    background-position:0 -1058px
}
.T_KL8 .b48 {
    background-position:0 -1081px
}
.T_KL8 .b49 {
    background-position:0 -1104px
}
.T_KL8 .b50 {
    background-position:0 -1127px
}
.T_KL8 .b51 {
    background-position:0 -1150px
}
.T_KL8 .b52 {
    background-position:0 -1173px
}
.T_KL8 .b53 {
    background-position:0 -1196px
}
.T_KL8 .b54 {
    background-position:0 -1219px
}
.T_KL8 .b55 {
    background-position:0 -1242px
}
.T_KL8 .b56 {
    background-position:0 -1265px
}
.T_KL8 .b57 {
    background-position:0 -1288px
}
.T_KL8 .b58 {
    background-position:0 -1311px
}
.T_KL8 .b59 {
    background-position:0 -1334px
}
.T_KL8 .b60 {
    background-position:0 -1357px
}
.T_KL8 .b61 {
    background-position:0 -1380px
}
.T_KL8 .b62 {
    background-position:0 -1403px
}
.T_KL8 .b63 {
    background-position:0 -1426px
}
.T_KL8 .b64 {
    background-position:0 -1449px
}
.T_KL8 .b65 {
    background-position:0 -1472px
}
.T_KL8 .b66 {
    background-position:0 -1495px
}
.T_KL8 .b67 {
    background-position:0 -1518px
}
.T_KL8 .b68 {
    background-position:0 -1541px
}
.T_KL8 .b69 {
    background-position:0 -1564px
}
.T_KL8 .b70 {
    background-position:0 -1587px
}
.T_KL8 .b71 {
    background-position:0 -1610px
}
.T_KL8 .b72 {
    background-position:0 -1633px
}
.T_KL8 .b73 {
    background-position:0 -1656px
}
.T_KL8 .b74 {
    background-position:0 -1679px
}
.T_KL8 .b75 {
    background-position:0 -1702px
}
.T_KL8 .b76 {
    background-position:0 -1725px
}
.T_KL8 .b77 {
    background-position:0 -1748px
}
.T_KL8 .b78 {
    background-position:0 -1771px
}
.T_KL8 .b79 {
    background-position:0 -1794px
}
.T_KL8 .b80 {
    background-position:0 -1817px
}
.PCDD span{
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAAV1BMVEVHcExfzPJQpc8cgLsvq+2kxMew2u3t8/L18/jK5vPX8v57tc8KhvSd0OoOi/jx7vOR8vTn5+lIk7gnU/FmrtSH/fj///8UcsGVz+4UotYimMMTi8oDjNx+CB1HAAAAFnRSTlMA/ftf/hn+/cv7sv6Ky7tiN4n+MraI3RBD0QAAAOFJREFUKM99ktkSgyAMRSNEE1a7Irb9/+9ssNYizvTyANwzhMkCsOk0ik7QqreUFpHtd+AsPn3XuXrAROIQMy2I+xoQL+Hoc16R3fyN2QWMxhhOlViMsRDZTdqpOCWNYRh4T1gsSewuW2ok1h0g5GxbYnMOAF3XcUtYzH8EEY9ETICIePwHMQJ4RNUShegB9DFcCaYl1TjPzSM1z7FUR2f1CjUIL5X1UlKT8vP2q/XtmZNZ++PIqEf49Cc8lCG3tS6a5KbpotRlmlwysRoF7/K0Kju/nx3/Jb4/DNZVi67b9Q1beh5YVfnwXgAAAABJRU5ErkJggg==") no-repeat;
    font-size: 13px;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-weight: 700;
    margin-right: 8px;
}