/* 支付配置修改的css文件 修改样式 */
.ui.form .field{
    display: flex;
}
.ui.form .field>label{
    min-width: 88px;
    display: flex;
    align-items: center;
}
.ui.checkbox input.hidden+label {
    margin-right: 5px;
}
.ui.form .field {
    clear: both;
    margin: 0 0 0.4em;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    height: 1px;
}
.select2-container--default .select2-selection--multiple {
    height: 1px;
}