<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">冠、亚军 组合</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="5010340"><span class="bet-content">冠亚大</span><span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="5010341"><span class="bet-content">冠亚小</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="5010342"><span class="bet-content">冠亚单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="5010343"><span class="bet-content">冠亚双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="5010344"><div class="bet-content">3</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5010345"><div class="bet-content">4</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5010346"><div class="bet-content">5</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="5010347"><div class="bet-content">6</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5010348"><div class="bet-content">7</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5010349"><div class="bet-content">8</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="5010350"><div class="bet-content">9</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5010351"><div class="bet-content">10</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5010352"><div class="bet-content">11</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="5010353"><div class="bet-content">12</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5010354"><div class="bet-content">13</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5010355"><div class="bet-content">14</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="5010356"><div class="bet-content">15</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5010357"><div class="bet-content">16</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5010358"><div class="bet-content">17</div><div class="bet-item"></div></div>
    </div>

    <div class="row end">
        <div class="col col-50 bet ok" data-id="5010359"><span class="bet-content">18</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="5010360"><span class="bet-content">19</span> <span class="bet-item"></span></div>
    </div>
</ion-content>