<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">冠亚和</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="5010340"><span class="bet-content">冠亚大</span><span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="5010341"><span class="bet-content">冠亚小</span><span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="5010342"><span class="bet-content">冠亚单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="5010343"><span class="bet-content">冠亚双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title">冠军</div></div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="5011363"><div class="bet-content">单</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5011361"><div class="bet-content">大</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5011365"><div class="bet-content">龙</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="5011364"><div class="bet-content">双</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5011362"><div class="bet-content">小</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5011366"><div class="bet-content">虎</div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title">亚军</div></div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="5012379"><div class="bet-content">单</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5012377"><div class="bet-content">大</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5012381"><div class="bet-content">龙</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="5012380"><div class="bet-content">双</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5012378"><div class="bet-content">小</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="5012382"><div class="bet-content">虎</div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title">第三名</div></div>
    <div class="row">
        <div class="col col-33 bet" data-id="5013395"><div class="bet-content">单</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5013393"><div class="bet-content">大</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5013397"><div class="bet-content">龙</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet" data-id="5013396"><div class="bet-content">双</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5013394"><div class="bet-content">小</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5013398"><div class="bet-content">虎</div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title">第四名</div></div>
    <div class="row">
        <div class="col col-33 bet" data-id="5014411"><div class="bet-content">单</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5014409"><div class="bet-content">大</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5014413"><div class="bet-content">龙</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet" data-id="5014412"><div class="bet-content">双</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5014410"><div class="bet-content">小</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5014414"><div class="bet-content">虎</div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title">第五名</div></div>
    <div class="row">
        <div class="col col-33 bet" data-id="5015427"><div class="bet-content">单</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5015425"><div class="bet-content">大</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5015429"><div class="bet-content">龙</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet" data-id="5015428"><div class="bet-content">双</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5015426"><div class="bet-content">小</div><div class="bet-item"></div></div>
        <div class="col col-33 bet" data-id="5015430"><div class="bet-content">虎</div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title">第六名</div></div>
    <div class="row">
        <div class="col col-50 bet" data-id="5016443"><div class="bet-content">单</div><div class="bet-item"></div></div>
        <div class="col col-50 bet" data-id="5016441"><div class="bet-content">大</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-50 bet" data-id="5016444"><div class="bet-content">双</div><div class="bet-item"></div></div>
        <div class="col col-50 bet" data-id="5016442"><div class="bet-content">小</div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title">第七名</div></div>
    <div class="row">
        <div class="col col-50 bet" data-id="5017457"><div class="bet-content">单</div><div class="bet-item"></div></div>
        <div class="col col-50 bet" data-id="5017455"><div class="bet-content">大</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-50 bet" data-id="5017458"><div class="bet-content">双</div><div class="bet-item"></div></div>
        <div class="col col-50 bet" data-id="5017456"><div class="bet-content">小</div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title">第八名</div></div>
    <div class="row">
        <div class="col col-50 bet" data-id="5018471"><div class="bet-content">单</div><div class="bet-item"></div></div>
        <div class="col col-50 bet" data-id="5018469"><div class="bet-content">大</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-50 bet" data-id="5018472"><div class="bet-content">双</div><div class="bet-item"></div></div>
        <div class="col col-50 bet" data-id="5018470"><div class="bet-content">小</div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title">第九名</div></div>
    <div class="row">
        <div class="col col-50 bet" data-id="5019485"><div class="bet-content">单</div><div class="bet-item"></div></div>
        <div class="col col-50 bet" data-id="5019483"><div class="bet-content">大</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-50 bet" data-id="5019486"><div class="bet-content">双</div><div class="bet-item"></div></div>
        <div class="col col-50 bet" data-id="5019484"><div class="bet-content">小</div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title">第十名</div></div>
    <div class="row">
        <div class="col col-50 bet" data-id="5020499"><div class="bet-content">单</div><div class="bet-item"></div></div>
        <div class="col col-50 bet" data-id="5020497"><div class="bet-content">大</div><div class="bet-item"></div></div>
    </div>

    <div class="row end">
        <div class="col col-50 bet" data-id="5020500"><div class="bet-content">双</div><div class="bet-item"></div></div>
        <div class="col col-50 bet" data-id="5020498"><div class="bet-content">小</div><div class="bet-item"></div></div>
    </div>
</ion-content>