<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
    <div class="typo">
        <ul>
            <li><span>该游戏的投注时间、开奖时间和开奖号码与“幸运快乐8”完全同步， 北京时间（</span><span lang="EN-US">GMT+8</span><span>）每天白天从上午</span><span lang="EN-US">08</span>:<span lang="EN-US">00</span><span>开到次日凌晨</span>04:<span lang="EN-US">00</span><span>，</span><span>每</span><span lang="EN-US">5</span><span>分钟开一次奖</span><span lang="EN-US">,</span><span>每天开奖</span><span lang="EN-US">240</span><span>期</span><span>。 <span lang="EN-US"><o:p></o:p></span></span></li>
            <li>官网：<a href="https://www.lotterymart.com" target="_bank">lotterymart.com</a></li>
            <li><span>具体游戏规则如下</span><span lang="EN-US">:<o:p></o:p></span></li>
            <li>
                <b><span>正码：</span></b><br>
                <span style="padding-left: 30px">投注的1个号码与当期摇出的20个号码中的任1个号码相同，则中奖</span>
            </li>
            <li>
                <b>总和：</b><br>
                <span style="padding-left: 30px">以所有开出的全部20个号码加起来的和值来判定</span><br>
                <span style="padding-left: 30px">总和大/小：20个号码加总的和值大于810，为和大；20个号码加总的和值小于810，则为和小。</span><br>
                <span style="padding-left: 30px">总和单/双：20个号码加总的和值为单，叫做和单；20个号码加总的和值为双，叫做和双。</span><br>
                <span style="padding-left: 30px">总和810：20个号码加总的和值等于810，叫和值810。(当和值等于810,则大小退回本金)</span>
            </li>
            <li>
                <b>总和过关：</b><br>
                <span style="padding-left: 30px">开出的20个号码的总和的游戏，分为「大单」，「小单」，「大双」和「小双」。</span><br>
                <span style="padding-left: 30px">总和大于810为「总数大」,小于810为「总数小」。</span><br>
                <span style="padding-left: 30px">总和为双数叫「双」，单数叫「单」。</span><br>
                <span style="padding-left: 30px">通过大小和单双组合产生「大单」，「小单」，「大双」和「小双」四种结果。</span><br>
                <span style="padding-left: 30px">总和等于810，则视为和局。</span>
            </li>
            <li>
                <b>两面：</b><br>
                <span style="padding-left: 30px">大：单球大于40的号码为大</span><br>
                <span style="padding-left: 30px">小：单球小于等于40的为小</span><br>
                <span style="padding-left: 30px">单：单球开单为单</span><br>
                <span style="padding-left: 30px">双：单球开双为双</span><br>
            </li>
            <li>
                <b><span>五行</span></b><br>
                <span style="padding-left: 30px">开出的20个号码的总和分在5个段，以金、木、水、火、土命名：金（210～695）、木（696～763）、水（764～855）、火（856～923）和土（924～1410）。</span><br>
            </li>
        </ul>
    </div>
</div>