<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
    <div class="typo">
        <ul>
            <li><span>该游戏的投注时间、开奖时间和开奖号码与“江苏骰宝(快3)”完全同步， 北京时间（</span><span lang="EN-US">GMT+8</span><span>）每天白天从上午</span><span lang="EN-US">09</span>:<span lang="EN-US">30</span><span>开到晚上</span>09:<span lang="EN-US">30</span><span>，</span><span>每</span><span lang="EN-US">10</span><span>分钟开一次奖</span><span lang="EN-US">,</span><span>每天开奖</span><span lang="EN-US">78</span><span>期</span><span>。 <span lang="EN-US"><o:p></o:p></span></span></li>
            <li><span>具体游戏规则如下</span><span lang="EN-US">:<o:p></o:p></span></li>
            <li>
                <b><span>小：</span></b>
                <span>三粒骰子之点数总和由4点至10点</span>
            </li>
            <li>
                <b><span>大：</span></b>
                <span>三粒骰子之点数总和由11点至17点；注：若三粒骰子平面点数相同，通吃「大」、「小」各注。</span>
            </li>
            <li>
                <b><span>三军/鱼虾蟹：</span></b>
                <span>任何一粒骰子出现选定之平面点数；</span>
            </li>
            <li>
                <b><span>围骰：</span></b>
                <span>三粒骰子平面与选定点数相同；</span>
            </li>
            <li>
                <b><span>全骰：</span></b>
                <span>在一点至六点内，三粒骰子平面点数相同；</span>
            </li>
            <li>
                <b><span>点数：</span></b>
                <span>由4点至17点，三粒骰子平面点数之总和；</span>
            </li>
            <li>
                <b><span>长牌：</span></b>
                <span>任两粒骰子之平面点数；</span>
            </li>
            <li>
                <b><span>短牌：</span></b>
                <span>选定两粒骰子之平面点数；</span>
            </li>
        </ul>
    </div>
</div>