<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">第一球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="128"><span class="bet-content round-1">0</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="129"><span class="bet-content round-1">1</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1210"><span class="bet-content round-1">2</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1211"><span class="bet-content round-1">3</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1212"><span class="bet-content round-1">4</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1213"><span class="bet-content round-1">5</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1214"><span class="bet-content round-1">6</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1215"><span class="bet-content round-1">7</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1216"><span class="bet-content round-1">8</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1217"><span class="bet-content round-1">9</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title-no">第二球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1322"><span class="bet-content round-1">0</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1323"><span class="bet-content round-1">1</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1324"><span class="bet-content round-1">2</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1325"><span class="bet-content round-1">3</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1326"><span class="bet-content round-1">4</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1327"><span class="bet-content round-1">5</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1328"><span class="bet-content round-1">6</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1329"><span class="bet-content round-1">7</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1330"><span class="bet-content round-1">8</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1331"><span class="bet-content round-1">9</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title-no">第三球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1436"><span class="bet-content round-1">0</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1437"><span class="bet-content round-1">1</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1438"><span class="bet-content round-1">2</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1439"><span class="bet-content round-1">3</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1440"><span class="bet-content round-1">4</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1441"><span class="bet-content round-1">5</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1442"><span class="bet-content round-1">6</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1443"><span class="bet-content round-1">7</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1444"><span class="bet-content round-1">8</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1445"><span class="bet-content round-1">9</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title-no">第四球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1550"><span class="bet-content round-1">0</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1551"><span class="bet-content round-1">1</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1552"><span class="bet-content round-1">2</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1553"><span class="bet-content round-1">3</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1554"><span class="bet-content round-1">4</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1555"><span class="bet-content round-1">5</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1556"><span class="bet-content round-1">6</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1557"><span class="bet-content round-1">7</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1558"><span class="bet-content round-1">8</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1559"><span class="bet-content round-1">9</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title-no">第五球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1664"><span class="bet-content round-1">0</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1665"><span class="bet-content round-1">1</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1666"><span class="bet-content round-1">2</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1667"><span class="bet-content round-1">3</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1668"><span class="bet-content round-1">4</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1669"><span class="bet-content round-1">5</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1670"><span class="bet-content round-1">6</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1671"><span class="bet-content round-1">7</span> <span class="bet-item"></span></div>
    </div>

    <div class="row end">
        <div class="col col-50 bet ok" data-id="1672"><span class="bet-content round-1">8</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1673"><span class="bet-content round-1">9</span> <span class="bet-item"></span></div>
    </div>
</ion-content>