<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">总和、龙虎</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="111"><span class="bet-content">总和大</span> <span class="bet-item"></span></div>

        <div class="col col-50 bet ok" data-id="112"><span class="bet-content">总和小</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="113"><span class="bet-content">总和单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="114"><span class="bet-content">总和双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="115"><div class="bet-content">龙</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="116"><div class="bet-content">虎</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="117"><div class="bet-content">和</div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title">第一球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1218"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1219"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="1220"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1221"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title">第二球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1332"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1333"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="1334"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1335"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>


    <div class="row text-center"><div class="col title">第三球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1446"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1447"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="1448"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1449"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title">第四球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1560"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1561"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="1562"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1563"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title">第五球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="1674"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1675"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row end">
        <div class="col col-50 bet ok" data-id="1676"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="1677"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
</ion-content>