
<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">冠、亚军 组合</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="801122163"><span class="bet-content">冠亚大</span><span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="801122164"><span class="bet-content">冠亚小</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="801122165"><span class="bet-content">冠亚单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="801122166"><span class="bet-content">冠亚双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="801122167"><div class="bet-content">3</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="801122168"><div class="bet-content">4</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="801122169"><div class="bet-content">5</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="801122170"><div class="bet-content">6</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="801122171"><div class="bet-content">7</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="801122172"><div class="bet-content">8</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="801122173"><div class="bet-content">9</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="801122174"><div class="bet-content">10</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="801122175"><div class="bet-content">11</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="801122176"><div class="bet-content">12</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="801122177"><div class="bet-content">13</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="801122178"><div class="bet-content">14</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="801122179"><div class="bet-content">15</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="801122180"><div class="bet-content">16</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="801122181"><div class="bet-content">17</div><div class="bet-item"></div></div>
    </div>

    <div class="row end">
        <div class="col col-50 bet ok" data-id="801122182"><span class="bet-content">18</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="801122183"><span class="bet-content">19</span> <span class="bet-item"></span></div>
    </div>
</ion-content>