/* login */
.login-actiyity .wrap .flash-roll, .wrap .roll-container {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
}

.login-actiyity .wrap .btn-roll, .wrap .flash-roll, .wrap .roll-container {
    -webkit-transform: translate(-50%, 0);
}

.login-actiyity.pane  {
    background: #c6257c;
}

.login-actiyity .bar.bar-activity {background: rgb(198, 37, 124)!important}

.login-actiyity .bg {
    background: #c02f27 url(/mobile/images/activity/login/bg.png) no-repeat;
    -webkit-background-size: 100% auto;
    height: 100%;
}

.login-actiyity .wrap {
    position: relative;
    padding-top: 40%;
    height: 70%;
}

.login-actiyity .wrap .box-roll {
    margin: 0 auto;
    position: relative;
}

.login-actiyity .wrap .box-roll img {
    width: 100%;
}

.login-actiyity .wrap .flash-roll {
    position: relative;
    width: 90%;
}

.login-actiyity .wrap .roll-container {
    position: absolute;
    width: 60%;
    bottom: 3%;
}

.login-actiyity .wrap .back-roll {
    position: relative;
    font-size: 0;
}

.login-actiyity .wrap .back-roll img {
    display: block;
}

.login-actiyity .wrap .roll-img {
    position: absolute;
    top: 0;
    left: 0;
}

.login-actiyity .wrap .btn-roll {
    position: absolute;
    width: 18%;
    left: 50%;
    top: 25%;
}

.login-actiyity .wrap .showbar {
    width: 42%;
    margin: 10px auto;
    position: relative;
    font-size: 12px;
}

.login-actiyity .wrap .showbar img {
    width: 100%;
}

.login-actiyity .wrap .showbar .text {
    position: absolute;
    color: #ea4c4c;
    height: 100%;
    width: 100%;
    left: 0;
    top: 2%;
    text-align: center;
}

.login-actiyity .wrap .bottom {
    width: 76%;
    margin: 0 auto 20px;
    color: #ffe5aa;
    font-size: 12px;
}

.login-actiyity .wrap .bottom .tit {
    font-weight: 700;
    text-indent: 0;
    margin-top: .2em;
}

.login-actiyity .wrap .bottom li {
    text-indent: 1em;
}

/* cont */

.cont-actiyity .bg {
    background: url(/mobile/images/activity/cont/bg.png) top no-repeat;
    -webkit-background-size: cover;
    padding-bottom: 30px;
}

.cont-actiyity .bg img {
    width: 100%;
    display: block;
}

.cont-actiyity .header {
    position: relative;
}

.cont-actiyity .header .signdays {
    position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    color: #c13800;
    font-size: 16px;
    background: url(/mobile/images/activity/cont/bg_signday.png) repeat-x;
    border-radius: 5px;
    overflow: hidden;
}

.cont-actiyity .header .signdays p {
    font-weight: 700;
    margin: 0;
    padding: 5px 10px;
    white-space: nowrap;
}

.cont-actiyity .gamebox {
    position: relative;
    margin-top: -30%;
    overflow: hidden;
}

.cont-actiyity .gamebox .light {
    -webkit-animation: turn360 30s linear infinite;
}

.cont-actiyity .gamebox .desk {
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.cont-actiyity .gamebox .egg {
    position: absolute;
    left: 40%;
    top: 35%;
    width: 20%;
}

.cont-actiyity .gamebox .egg.ani {
    -webkit-animation: rockegg 3s infinite;
}

.cont-actiyity .gamebox .hammer {
    position: absolute;
    left: 52%;
    top: 26%;
    width: 20%;
    display: none;
}

.cont-actiyity .gamebox .hammer.ani {
    display: block;
    -webkit-animation: rockhammer 1s infinite;
}

.cont-actiyity .award {
    margin: -10% auto 0;
    width: 90%;
    color: #fff;
    font-size: 12px;
}

.cont-actiyity .award p {
    margin: 0;
    line-height: 22px;
}

.cont-actiyity .award .tit {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

@-webkit-keyframes turn360 {
    0% {
        -webkit-transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rockhammer {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
    }
}

@-webkit-keyframes rockegg {
    0% {
        -webkit-transform: translateX(0);
    }
    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
    }
    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
    }
    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
    }
    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
    }
    50% {
        -webkit-transform: translateX(0);
    }
}