.round {
	box-shadow: inset 1px -6px 10px #fff;
	width: .9rem;
	height: .9rem;
	border-radius: .9rem;
	background: #d5d5d5;
	color: #000;
	margin-right: .1rem;
	line-height: .9rem;
	font-size: .6rem
}

.round,.round-1 {
	display: inline-block;
	text-align: center
}

.round-1 {
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 1.4rem;
	font-size: .9rem;
	line-height: 1.4rem
}

.round-1,.round-2 {
	box-shadow: inset 1px -6px 10px #fff;
	background: #d5d5d5;
	color: #000!important
}

.round-2 {
	width: .95rem;
	height: .95rem;
	border-radius: .95rem;
	font-weight: lighter!important;
	margin-right: .1rem;
	margin-top: .2rem;
	font-size: .65rem;
	line-height: .95rem
}

.round-3 {
	width: 1.4rem;
	height: 1.4rem;
	margin-right: 1px;
	color: #000;
	font-size: .7rem;
	display: inline-block;
	text-align: center
}

.round-3.red {
	background-image: url("../images/ball/red.png");
	background-size: 1.4rem
}

.round-3.blue {
	background-image: url("../images/ball/blue.png");
	background-size: 1.4rem
}

.round-3.green {
	background-image: url("../images/ball/green.png");
	background-size: 1.4rem
}

.round-4 {
	width: 1.1rem;
	height: 1.1rem;
	color: #000;
	text-align: center;
	float: left;
	font-weight: bolder;
	margin-right: .1rem;
	line-height: 1rem
}

.round-4.red {
	background-image: url("../images/ball/red.png");
	background-size: 1.1rem
}

.round-4.blue {
	background-image: url("../images/ball/blue.png");
	background-size: 1.1rem
}

.round-4.green {
	background-image: url("../images/ball/green.png");
	background-size: 1.1rem
}

.round-4.transparent {
	background: 0 0;
	box-shadow: none;
	color: #fff;
	font-weight: 700;
	width: .9rem;
	height: .9rem
}

.round-4.transparent::before {
	font-weight: 700;
	font-size: 1.1rem
}


.round-6 {
	width: 1rem;
    height: 1rem;
    color: #000;
    text-align: center;
    display: inline-block;
    margin-right: .2rem;
    line-height: 1rem;
    background-size: 1rem;
    color: transparent;
}
.round-6:last-child{
	margin-right: 0;
}
.round-6.data-1 {
    background-image: url("../images/ball/1.png");
}
.round-6.data-2 {
    background-image: url("../images/ball/2.png");
}
.round-6.data-3 {
    background-image: url("../images/ball/3.png");
}
.round-6.data-4 {
    background-image: url("../images/ball/4.png");
}
.round-6.data-5 {
    background-image: url("../images/ball/5.png");
}
.round-6.data-6 {
    background-image: url("../images/ball/6.png");
}
.round-6.data-7 {
    background-image: url("../images/ball/7.png");
}
.round-6.data-8 {
    background-image: url("../images/ball/8.png");
}
.round-6.data-9 {
    background-image: url("../images/ball/9.png");
}
.round-6.data-10 {
    background-image: url("../images/ball/10.png");
}

.round-7 {
	width: 1.4rem;
	height: 1.4rem;
	display: inline-block;
	line-height: 1.4rem;
	text-shadow: none;
	text-align: center;
	background-size: 1.4rem;
	color: transparent!important
}

.round-7.data-1 {
	background-image: url("../images/ball/1.png")
}

.round-7.data-2 {
	background-image: url("../images/ball/2.png")
}

.round-7.data-3 {
	background-image: url("../images/ball/3.png")
}

.round-7.data-4 {
	background-image: url("../images/ball/4.png")
}

.round-7.data-5 {
	background-image: url("../images/ball/5.png")
}

.round-7.data-6 {
	background-image: url("../images/ball/6.png")
}

.round-7.data-7 {
	background-image: url("../images/ball/7.png")
}

.round-7.data-8 {
	background-image: url("../images/ball/8.png")
}

.round-7.data-9 {
	background-image: url("../images/ball/9.png")
}

.round-7.data-10 {
	background-image: url("../images/ball/10.png")
}

.round-7.radiusball {
	border-radius: 1.4rem
}

.round-8 {
	width: .95rem;
	height: .95rem;
	display: inline-block;
	line-height: .95rem;
	text-shadow: none;
	text-align: center;
	margin-right: .1rem
}

.round-8.data-1 {
	background-image: url(../images/ball/1.png)
}

.round-8.data-1,.round-8.data-2 {
	background-size: .95rem;
	color: transparent!important
}

.round-8.data-2 {
	background-image: url(../images/ball/2.png)
}

.round-8.data-3 {
	background-image: url(../images/ball/3.png)
}

.round-8.data-3,.round-8.data-4 {
	background-size: .95rem;
	color: transparent!important
}

.round-8.data-4 {
	background-image: url(../images/ball/4.png)
}

.round-8.data-5 {
	background-image: url(../images/ball/5.png)
}

.round-8.data-5,.round-8.data-6 {
	background-size: .95rem;
	color: transparent!important
}

.round-8.data-6 {
	background-image: url(../images/ball/6.png)
}

.round-8.data-7 {
	background-image: url(../images/ball/7.png)
}

.round-8.data-7,.round-8.data-8 {
	background-size: .95rem;
	color: transparent!important
}

.round-8.data-8 {
	background-image: url(../images/ball/8.png)
}

.round-8.data-9 {
	background-image: url(../images/ball/9.png)
}

.round-8.data-10,.round-8.data-9 {
	background-size: .95rem;
	color: transparent!important
}

.round-8.data-10 {
	background-image: url(../images/ball/10.png)
}

.round-9 {
	width: .9rem;
	height: .9rem;
	text-align: center;
	display: inline-block;
	margin-right: .1rem;
	line-height: 1rem;
	border-radius: 1.2rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: .9rem;
	color: transparent
}
.round-9:last-child{
	margin-right: 0;
}

.round-9.data-1 {
	background-image: url("../images/ball/1.png")
}

.round-9.data-2 {
	background-image: url("../images/ball/2.png")
}

.round-9.data-3 {
	background-image: url("../images/ball/3.png")
}

.round-9.data-4 {
	background-image: url("../images/ball/4.png")
}

.round-9.data-5 {
	background-image: url("../images/ball/5.png")
}

.round-9.data-6 {
	background-image: url("../images/ball/6.png")
}

.round-9.data-7 {
	background-image: url("../images/ball/7.png")
}

.round-9.data-8 {
	background-image: url("../images/ball/8.png")
}

.round-9.data-9 {
	background-image: url("../images/ball/9.png")
}

.round-9.data-10 {
	background-image: url("../images/ball/10.png")
}

.nums-wrap .round-10 {margin-right: 5px}

.round-10 {
	width: 1rem;
    height: 1rem;
    color: #000;
    text-align: center;
    display: inline-block;
    line-height: 1rem;
    background-size: 1rem;
    color: transparent!important;
    border-radius: .2rem;
}

.round-10.data-1 {
	background-image: url("../images/ball/s_1.png")
}

.round-10.data-2 {
	background-image: url("../images/ball/s_2.png")
}

.round-10.data-3 {
	background-image: url("../images/ball/s_3.png")
}

.round-10.data-4 {
	background-image: url("../images/ball/s_4.png")
}

.round-10.data-5 {
	background-image: url("../images/ball/s_5.png")
}

.round-10.data-6 {
	background-image: url("../images/ball/s_6.png")
}

.round-11 {
    width: 1.4rem;
    height: 1.4rem;
    color: #000;
    text-align: center;
    display: inline-block;
    line-height: 1.4rem;
    background-size: 1.4rem;
    color: transparent!important;
    border-radius: .2rem;
}

.round-11.data-1 {
	background-image: url("../images/ball/s_1.png")
}

.round-11.data-2 {
	background-image: url("../images/ball/s_2.png")
}

.round-11.data-3 {
	background-image: url("../images/ball/s_3.png")
}

.round-11.data-4 {
	background-image: url("../images/ball/s_4.png")
}

.round-11.data-5 {
	background-image: url("../images/ball/s_5.png")
}

.round-11.data-6 {
	background-image: url("../images/ball/s_6.png")
}