<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">第一球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811242341"><span class="bet-content round-1">0</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811242342"><span class="bet-content round-1">1</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811242343"><span class="bet-content round-1">2</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811242344"><span class="bet-content round-1">3</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811242345"><span class="bet-content round-1">4</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811242346"><span class="bet-content round-1">5</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811242347"><span class="bet-content round-1">6</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811242348"><span class="bet-content round-1">7</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811242349"><span class="bet-content round-1">8</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811242350"><span class="bet-content round-1">9</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title-no">第二球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811252355"><span class="bet-content round-1">0</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811252356"><span class="bet-content round-1">1</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811252357"><span class="bet-content round-1">2</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811252358"><span class="bet-content round-1">3</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811252359"><span class="bet-content round-1">4</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811252360"><span class="bet-content round-1">5</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811252361"><span class="bet-content round-1">6</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811252362"><span class="bet-content round-1">7</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811252363"><span class="bet-content round-1">8</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811252364"><span class="bet-content round-1">9</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title-no">第三球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811262369"><span class="bet-content round-1">0</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811262370"><span class="bet-content round-1">1</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811262371"><span class="bet-content round-1">2</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811262372"><span class="bet-content round-1">3</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811262373"><span class="bet-content round-1">4</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811262374"><span class="bet-content round-1">5</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811262375"><span class="bet-content round-1">6</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811262376"><span class="bet-content round-1">7</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811262377"><span class="bet-content round-1">8</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811262378"><span class="bet-content round-1">9</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title-no">第四球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811272383"><span class="bet-content round-1">0</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811272384"><span class="bet-content round-1">1</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811272385"><span class="bet-content round-1">2</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811272386"><span class="bet-content round-1">3</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811272387"><span class="bet-content round-1">4</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811272388"><span class="bet-content round-1">5</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811272389"><span class="bet-content round-1">6</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811272390"><span class="bet-content round-1">7</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811272391"><span class="bet-content round-1">8</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811272392"><span class="bet-content round-1">9</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title-no">第五球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811282397"><span class="bet-content round-1">0</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811282398"><span class="bet-content round-1">1</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811282399"><span class="bet-content round-1">2</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811282400"><span class="bet-content round-1">3</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811282401"><span class="bet-content round-1">4</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811282402"><span class="bet-content round-1">5</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811282403"><span class="bet-content round-1">6</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811282404"><span class="bet-content round-1">7</span> <span class="bet-item"></span></div>
    </div>

    <div class="row end">
        <div class="col col-50 bet ok" data-id="811282405"><span class="bet-content round-1">8</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811282406"><span class="bet-content round-1">9</span> <span class="bet-item"></span></div>
    </div>
</ion-content>