<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">总和、龙虎</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811232334"><span class="bet-content">总和大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811232335"><span class="bet-content">总和小</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811232336"><span class="bet-content">总和单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811232337"><span class="bet-content">总和双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="811232338"><div class="bet-content">龙</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="811232339"><div class="bet-content">虎</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="811232340"><div class="bet-content">和</div><div class="bet-item"></div></div>
    </div>

    <div class="row text-center"><div class="col title">第一球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811242351"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811242352"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="811242353"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811242354"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title">第二球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811252365"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811252366"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="811252367"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811252368"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>


    <div class="row text-center"><div class="col title">第三球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811262379"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811262380"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="811262381"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811262382"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title">第四球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811272393"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811272394"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="811272395"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811272396"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title">第五球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811282407"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811282408"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row end">
        <div class="col col-50 bet ok" data-id="811282409"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811282410"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
</ion-content>