<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">前三</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811292411"><span class="bet-content">豹子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811292412"><span class="bet-content">顺子</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811292413"><span class="bet-content">对子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811292414"><span class="bet-content">半顺</span> <span class="bet-item">2.3</span></div>
    </div>

    <div class="row end">
        <div class="col col-100 bet ok" data-id="811292415">
            <span class="bet-content">杂六</span> <span class="bet-item">2.8</span>
        </div>
    </div>

    <div class="row text-center"><div class="col title-no">中三</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811302416"><span class="bet-content">豹子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811302417"><span class="bet-content">顺子</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811302418"><span class="bet-content">对子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811302419"><span class="bet-content">半顺</span> <span class="bet-item"></span></div>
    </div>

    <div class="row end">
        <div class="col col-100 bet ok" data-id="811302420"><span class="bet-content">杂六</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title-no">后三</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811312421"><span class="bet-content">豹子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811312422"><span class="bet-content">顺子</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="811312423"><span class="bet-content">对子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="811312424"><span class="bet-content">半顺</span> <span class="bet-item"></span></div>
    </div>

    <div class="row end">
        <div class="col col-100 bet ok" data-id="811312425"><span class="bet-content">杂六</span> <span class="bet-item"></span></div>
    </div>
</ion-content>