<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">总和、龙虎</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="411501"><span class="bet-content">总和大</span> <span class="bet-item"></span></div>

        <div class="col col-50 bet ok" data-id="411502"><span class="bet-content">总和小</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="411503"><span class="bet-content">总和单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="411504"><span class="bet-content">总和双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="411505"><div class="bet-content">龙</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="411506"><div class="bet-content">虎</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="411507"><div class="bet-content">和</div><div class="bet-item">9.4</div></div>
    </div>

    <div class="row text-center"><div class="col title">第一球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="411610"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="411611"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="411612"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="411613"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title">第二球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="411710"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="411711"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="411712"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="411713"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>


    <div class="row text-center"><div class="col title">第三球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="411810"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="411811"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="411812"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="411813"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title">第四球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="411910"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="411911"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="411912"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="411913"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title">第五球</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="412010"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="412011"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row end">
        <div class="col col-50 bet ok" data-id="412012"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="412013"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
</ion-content>