<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">前三</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="412101"><span class="bet-content">豹子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="412102"><span class="bet-content">顺子</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="412103"><span class="bet-content">对子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="412104"><span class="bet-content">半顺</span> <span class="bet-item"></span></div>
    </div>

    <div class="row end">
        <div class="col col-100 bet ok" data-id="412105">
            <span class="bet-content">杂六</span> <span class="bet-item">2.8</span>
        </div>
    </div>

    <div class="row text-center"><div class="col title-no">中三</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="412201"><span class="bet-content">豹子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="412202"><span class="bet-content">顺子</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="412203"><span class="bet-content">对子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="412204"><span class="bet-content">半顺</span> <span class="bet-item"></span></div>
    </div>

    <div class="row end">
        <div class="col col-100 bet ok" data-id="412205"><span class="bet-content">杂六</span> <span class="bet-item"></span></div>
    </div>

    <div class="row text-center"><div class="col title-no">后三</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="412301"><span class="bet-content">豹子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="412302"><span class="bet-content">顺子</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="412303"><span class="bet-content">对子</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="412304"><span class="bet-content">半顺</span> <span class="bet-item"></span></div>
    </div>

    <div class="row end">
        <div class="col col-100 bet ok" data-id="412305"><span class="bet-content">杂六</span> <span class="bet-item"></span></div>
    </div>
</ion-content>