<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">特码</div></div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8420400"><span class="bet-content round-1">0</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420401"><span class="bet-content round-1">1</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420402"><span class="bet-content round-1">2</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8420403"><span class="bet-content round-1">3</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420404"><span class="bet-content round-1">4</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420405"><span class="bet-content round-1">5</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8420406"><span class="bet-content round-1">6</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420407"><span class="bet-content round-1">7</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420408"><span class="bet-content round-1">8</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8420409"><span class="bet-content round-1">9</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420410"><span class="bet-content round-1">10</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420411"><span class="bet-content round-1">11</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8420412"><span class="bet-content round-1">12</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420413"><span class="bet-content round-1">13</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420414"><span class="bet-content round-1">14</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8420415"><span class="bet-content round-1">15</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420416"><span class="bet-content round-1">16</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420417"><span class="bet-content round-1">17</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-33 bet ok" data-id="8420418"><span class="bet-content round-1">18</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420419"><span class="bet-content round-1">19</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420420"><span class="bet-content round-1">20</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8420421"><span class="bet-content round-1">21</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420422"><span class="bet-content round-1">22</span> <span class="bet-item"></span></div>
        <div class="col col-33 bet ok" data-id="8420423"><span class="bet-content round-1">23</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8420424"><span class="bet-content round-1">24</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8420425"><span class="bet-content round-1">25</span> <span class="bet-item"></span></div>
    </div>

    <div class="row end">
        <div class="col col-50 bet ok" data-id="8420426"><span class="bet-content round-1">26</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8420427"><span class="bet-content round-1">27</span> <span class="bet-item"></span></div>
    </div>

</ion-content>