/* 通用样式 */
.mask{
  background: #0000008c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: none;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.w {
  width: 992px;
  margin: 0 auto;
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
body{
  font-family: 'Microsoft YaHei','Microsoft Sans Serif';
}
.clearfix::before .clearfix::after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.fixed_left_box {
  position: fixed;
  top: 160px;
  left: -100%;
  z-index: 2;
}
.float-qrcode{
  position: absolute;
  top: 133px;
  left: 18px;
  width: 89px;
}
.fixed_left_box.active{
  transition: all 1s;
  top: 160px;
  left: 20px;
}
.fixed_left_box a:first-child {
  position: absolute;
  width: 10px;
  height: 10px;
  width: 120px;
  height: 34px;
  top: 19px;
}
.fixed_left_box a:nth-child(2) {
  position: absolute;
  width: 10px;
  height: 10px;
  width: 120px;
  height: 34px;
  top: 62px;
}
.fixed_left_box .fixed_left {
  height: 306px;
}
.fixed_left_box .xt {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 18px;
  top: 134px;
}
.fixed_left_box .off {
  position: absolute;
  margin-left: -45px;
  bottom: -3px;
  width: 90px;
  height: 37px;
  left: 50%;
  border-radius: 20px;
}
.fixed_right_box {
  position: fixed;
  top: 160px;
  right: -100%;
  z-index: 2;
}
.fixed_right_box.active {
  transition: all 1s;
  right: 20px;
}
.fixed_right_box a:first-child {
  position: absolute;
  width: 10px;
  height: 10px;
  width: 120px;
  height: 34px;
  top: 19px;
}
.fixed_right_box a:nth-child(2) {
  position: absolute;
  width: 10px;
  height: 10px;
  width: 120px;
  height: 34px;
  top: 62px;
}
.fixed_right_box .fixed_left {
  height: 306px;
}
.fixed_right_box .xt {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 18px;
  top: 134px;
}
.fixed_right_box .off {
  position: absolute;
  margin-left: -45px;
  bottom: -3px;
  width: 90px;
  height: 37px;
  left: 50%;
  border-radius: 20px;
}
/* swiper 轮播图 */
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
/* 修改boots样式 */
/* 按钮 */
.btn-group-sm > .btn,
.btn-sm {
  width: 72px;
  height: 26px;
  line-height: 16px;
  color: #fff;
}

.top .account .user_login .dlhh a{
  color: #fff;
}

/* 字体图标 */
.user_icon {
  background: url('../images/reg_icon.png') repeat scroll 0 -262px;
}
.pass_icon {
  background: url('../images/reg_icon.png') repeat scroll 0 -290px;
}
.down{
  display: inline-block;
  width: 12px;
  height: 10px;
  background: url('../images/index_optimize.png') repeat scroll -60px -58px;
  margin-left: 5px;
}
.trophy {
  background: url('../images/index_optimize.png') repeat scroll -150px -60px;
}
/* 顶部样式 */
.top {
  /* 顶部通栏 */
  /* logo 登录区 */
  /* 顶部导航栏 */
  min-width: 985px;
}
.top .top_bar {
  overflow: hidden;
  width: 100%;
  height: 32px;
  background-color: #ededed;
}
.top .top_bar .top_l {
  height: 32px;
}
.top .top_bar .top_l p {
  margin-top: 0;
  line-height: 32px;
  font-size: 12px;
  color: #666;
}
.top .top_bar .top_r li {
  float: left;
  list-style-type: none;
  margin-left: 6px;
  margin-top: 5px;
  font-size: 12px;
  line-height: 24px;
}
.top .top_bar .top_r li a {
  color: #666;
}
.top .top_bar .top_r li :hover {
  color: #f13131;
}
.top .top_bar .top_r :nth-child(1) a,
.top .top_bar .top_r :nth-child(3) a {
  color: #f13131;
}
.top .top_bar .top_r :nth-child(2),
.top .top_bar .top_r :nth-child(4) {
  color: #d0d0d0;
}
.top .top_bar .top_r :nth-child(5) a:hover {
  color: #f13131;
}
.top .top_bar .top_r :nth-child(5) em {
  font-size: px;
}
.top .top_bar .top_r :nth-child(5) :hover {
  color: #d0d0d0;
}
.top .top_bar .top_r :nth-child(6) {
  margin-left: 16px;
}
.top .account {
  overflow: hidden;
}
.top .account .logo {
  display: inline-block;
  width: 270px;
  height: 69px;
  background: url("../images/SS500LOGO.png") no-repeat;
  overflow: hidden;
  margin-top: 10px;

}
.top .account .user_login {
  width: 440px;
  height: 70px;
}
.top .account .user_login li {
  float: left;
  position: relative;
  margin-left: 5px;
  margin-top: 30px;
}
.top .account .user_login li em {
  position: absolute;
  top:2px;
  width: 30px;
  height: 23px;
}
.top .account .user_login li i {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 45px;
  height: 23px;
}
.top .account .user_login li input {
  width: 135px;
  height: 25px;
  padding-left: 27px;
  border-radius: 2px;
  border: 1px solid #ddd;
}
.top .account .user_login li .verify {
  width: 117px;
  padding-left: 48px;
}
.top .account .user_login li .verify .yzm {
  width: 45px;
  height: 23px;
}
.top .top_nav {
  height: 46px;
  width: 100%;
  background-color: red;
  overflow: hidden;
}
.top .top_nav .all_cai {
  float: left;
  height: 46px;
  margin-right: 8px;
  text-align: center;
  width: 230px;
}
.top .top_nav .all_cai h2 {
  font-size: 20px;
  color: #fff;
  padding-left: 50px;
  text-align: left;
  font-weight: 700;
  line-height: 8px;
}
.top .top_nav .all_cai .dowm {
  float: left;
  color: #fff;
  margin-left: 180px;
  margin-top: -20px;
  font-size: 12px;
  transition: all 0.2s linear;
}
.top .top_nav .all_cai .dowm:hover {
  transform: rotate(180deg);
}
.top .top_nav ul {
  float: left;
}
.top .top_nav ul li {
  float: left;
  line-height: 46px;
}
.top .top_nav ul li:nth-child(7) img{
  margin-left: -26px;
  margin-top: -32px;
}
.top .top_nav ul li a {
  color: #fff;
  font-size: 16px;
  display: inline-block;
  padding: 0 12px;
  font-weight: bold;
  font-family: serif;
}
.top .top_nav ul li :hover {
  background-color: #b41b1b;
}
/* 页面主体部分 */
.main_box {
  /* main 左侧 */
  overflow: hidden;
  /* main中间部分 */
  /* main右侧广告 */
}
.main_box .main_l {
  width: 226px;
  height: 452px;
  border: 2px solid #c81535;
  margin-top: -2px;
  float: left;
}
.main_box .main_l ul .game {
  height: 38px;
  padding-left: 12px;
}
.main_box .main_l ul .game .img_icon {
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.main_box .main_l ul .game .text_a {
  color: black;
  font-size: 16px;
  float: left;
  padding-left: 10px;
  margin-top: 10px;
}
.main_box .main_l ul .game :hover {
  color: #eb2020;
}
.main_box .main_l ul .game .bet {
  margin: 8px 8px 0 0;
  color: #fff;
  float: right;
}
.main_box .main_l ul .hot_box {
  overflow: hidden;
  color: #9c9c9c;
  margin-left: 12px;
  margin-top: 10px;
}
.main_box .main_l ul .hot_box .hot {
  height: 50px;
  width: 20px;
  line-height: 24px;
  border: 1px solid #e6e6e6;
  float: left;
  text-align: center;
  cursor: pointer;
}
.main_box .main_l ul .hot_box .game_list a {
  font-size: 12px;
  float: left;
  padding-left: 14px;
  padding-top: 4px;
  color: black;
}
.main_box .main_l ul .hot_box .game_list :hover {
  color: #eb2020;
}
.main_box .main_c {
  overflow: hidden;
  float: left;
  padding: 20px 20px 0 20px;
}
.main_box .main_c .slide {
  width: 490px;
  height: 218px;
}
.main_box .main_c .new_notice {
  width: 490px;
  height: 30px;
  background-color: #fff6e5;
  margin-top: 10px;
  margin-bottom: 0;
  overflow: hidden;
}
.main_box .main_c .new_notice i {
  float: left;
  width: 16px;
  height: 14px;
  margin-left: 14px;
}
.main_box .main_c .new_notice b {
  float: left;
  color: #fe7200;
  text-align: center;
  line-height: 30px;
}
.main_box .main_c .new_notice .swipe_p {
  color: #fe7200;
  width: 380px;
  float: left;
  line-height: 30px;
  padding-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main_box .main_c .new_notice .swipe_p span {
  transform: translateX(-50px);
}
.main_box .main_c .quick-tab-list {
  width: 488px;
  height: 36px;
  border-bottom: 1px solid #e9e9e9;
  line-height: 35px;
}
.main_box .main_c .quick-tab-list a {
  float: left;
  width: 25%;
  text-align: center;
  color: #8a0b00;
  font-size: 13px;
}
.main_box .main_c .quick-tab-list a:link{
  text-decoration: none;
}
.main_box .main_c .quick-tab-list a.active {
  border-bottom: 1px solid red;
  color: red;
  font-weight: 700;
}
.main_box .main_c .endTime {
  font-size: 12px;
  color: #999;
  margin-bottom: 0;
  height: 20px;
}

.lotteryBox{
  width: 490px;
  display: none;
}

.main_box .main_c .qb-selectnumber .qb-selectnum{
  overflow: hidden;
}

.main_box .main_c .qb-selectnumber .qb-selectnum .tmp_ball {
  float: left;
  background-color: #e13649;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 16px;
  padding: 0 0 10px 12px;
  font-weight: 900;
  line-height: 40px;
  margin: 5px 5px 0 0;
}
.main_box .main_c .ljtz {
  float: right;
  margin-top: 31px;
}
.main_box .main_c .ljtz button {
  width: 120px;
  height: 34px;
  color: #fff;
  font-size: 16px;
  background-color: #f13131;
}
.main_box .main_c .ljtz button:hover {
  background-color: #c23939;
}
.main_box .main_r {
  width: 230px;
  height: 444px;
  background-color: #f6f6f6;
  float: left;
  margin-top: 20px;
}
.main_box .main_r .welcome {
  width: 100%;
  text-align: center;
  padding-top: 25px;
}
.main_box .main_r .login {
  width: 160px;
  height: 46px;
  margin: 0 auto;
}
.main_box .main_r .login button:first-child {
  margin-right: 10px;
}
.main_box .main_r .login a {
  display: inline-block;
  color: #fff;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}
.main_box .main_r .login a:nth-child(3) {
  color: red;
  margin-top: 10px;
  margin-left: 50px;
}
.main_box .main_r .buy_help_box {
  width: 190px;
  height: 28px;
  border-bottom: 1px solid #9c9c9c;
  margin: 0 auto;
  margin-top: 24px;
}
.main_box .main_r .buy_help_box .buy_help {
  font-size: 13px;
  width: 70px;
  padding-left: 5px;
  padding-bottom: 8px;
  border-bottom: 2px solid red;
  cursor: pointer;
}
.main_box .main_r .help_text {
  width: 190px;
  height: 90px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}
.main_box .main_r a {
  display: block;
  font-size: 12px;
  color: black;
  height: 30px;
  line-height: 30px;
}
.main_box .main_r a:hover {
  color: red;
}
.main_box .main_r .phone_gc {
  font-size: 14px;
  display: block;
  width: 190px;
  margin: 0 auto;
  color: red;
  margin-top: 14px;
  text-align: center;
}
.main_box .main_r .QRcode {
  display: block;
  width: 142px;
  height: 142px;
  margin: 0 auto;
  margin-top: 10px;
}
/* 新闻公告 */
.news_box {
  overflow: hidden;
}
.news_box .news_box_l {
  float: left;
  width: 230px;
}
.news_box .news_box_l .l_title {
  width: 230px;
  height: 31px;
  border-bottom: 1px solid #e9e9e9;
  line-height: 31px;
}
.news_box .news_box_l .l_title i {
  display: inline-block;
  width: 18px;
  height: 16px;
  margin-top: 8px;
  margin-right: 5px;
}
.news_box .news_box_l .l_title p {
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
}
.news_box .news_box_l .news_list .news_list_li {
  width: 210px;
  height: 78px;
  border-bottom: 1px dashed #999;
  margin: 0 auto;
  padding-top: 12px;
  margin-bottom: 0;
}
.news_box .news_box_l .news_list .news_list_li .text_a {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.news_box .news_box_l .news_list .news_list_li .text_a:hover {
  color: red;
}
.news_box .news_box_l .news_list .news_list_li .term {
  float: right;
  color: #999;
}
.news_box .news_box_l .news_list .news_list_li .redballBox {
  /*overflow: hidden;*/
}
.news_box .news_box_l .news_list .news_list_li .redballBox .redball {
  float: left;
  margin-right: 4px;
  margin-top: 3px;
  color: red;
  font-weight: 600;
}
.news_box .news_box_l .news_list .news_list_li .new_r {
  color: #d8d8d8;
  float: right;
  font-size: 12px;
  margin-top: 4px;
}
.news_box .news_box_c {
  width: 500px;
  height: 31px;
  float: left;
  margin-left: 10px;
  border-bottom: 1px solid #e9e9e9;
}
.news_box .news_box_c .lott_text {
  font-weight: 900;
  margin: 0;
  line-height: 31px;
}
.news_box .news_box_c .news_bar_tit {
  width: 100%;
  height: 46px;
  margin: 0;
}
.news_box .news_box_c .news_bar_tit span {
  line-height: 46px;
  padding-right: 16px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  float: left;
}
.news_box .news_box_c .news_bar_tit a {
  float: left;
  color: #f13131;
  font-size: 16px;
  width: 195px;
  height: 45px;
  font-weight: 900;
  line-height: 45px;
  overflow: hidden;
  margin-right: 15px;
}
.news_box .news_box_c .news_bar_tit a:hover {
  text-decoration: underline;
}
.news_box .news_box_c .news_bar_list .news_s {
  float: left;
  width: 46%;
  height: 28px;
  line-height: 28px;
  margin-right: 20px;
  overflow: hidden;
}
.news_box .news_box_c .news_bar_list .news_s a:first-child {
  color: #999;
  font-family: 宋体;
  font-size: 14px;
  height: 28px;
  float: left;
}
.news_box .news_box_c .news_bar_list .news_s a:nth-child(2) {
  height: 28px;
  width: 34px;
  font-family: "å®‹ä½“";
  font-size: 14px;
  color: black;
  padding-left: 8px;
}
.news_box .news_box_c .news_bar_list .news_s a:nth-child(2):hover {
  color: #f13131;
}
.news_box .news_box_c img {
  width: 500px;
  height: 89px;
}
.news_box .news_box_r {
  width: 230px;
  float: left;
  margin-left: 18px;
}
.news_box .news_box_r .zxzj {
  height: 31px;
  border-bottom: 1px solid #e9e9e9;
  font-size: 16px;
  font-weight: 700;
  line-height: 31px;
}
.news_box .news_box_r .news_slide_Box {
  width: 100%;
  height: 197px;
  overflow: hidden;
}
.news_box .news_box_r .news_slide_Box .news_slide {
  width: 100%;
  margin-bottom: 0;
  padding: 0 10px 0 10px;
  transform: translateY(197px);
}
.news_box .news_box_r .news_slide_Box .news_slide li {
  width: 210px;
  height: 25px;
  line-height: 25px;
  float: left;
}
.news_box .news_box_r .news_slide_Box .news_slide li .user_id {
  font-size: 12px;
}
.news_box .news_box_r .news_slide_Box .news_slide li .txt {
  font-size: 12px;
}
.news_box .news_box_r .news_slide_Box .news_slide li .cp_type {
  font-size: 13px;
  font-weight: bold;
}
.news_box .news_box_r .news_slide_Box .news_slide li .win_m {
  color: red;
  float: right;
}
.news_box .news_box_r .win_tit {
  width: 100%;
  height: 31px;
  border-bottom: 1px solid #e9e9e9;
  font-size: 16px;
  font-weight: 700;
  line-height: 31px;
}
.news_box .news_box_r .win_list_li {
  padding-left: 8px;
  padding-top: 27px;
}
.news_box .news_box_r .win_list_li:first-child {
  padding-top: 4px;
}
.news_box .news_box_r .win_list_li:nth-last-child(-n+3) .win_top_icon {
  background-color: #afafaf;
}
.news_box .news_box_r .win_list_li .win_top_icon {
  width: 18px;
  height: 18px;
  color: #fff;
  text-align: center;
  margin: 0 2px;
  background-color: #f36309;
  float: left;
}
.news_box .news_box_r .win_list_li .win_top_use {
  float: left;
  width: 97px;
  height: 24px;
  padding-left: 20px;
}
.news_box .news_box_r .win_list_li .win_top_y {
  float: right;
  /*width: 87px;*/
  height: 24px;
  text-align: right;
  color: red;
}
/* 安全保障 */
.aqfoot {
  width: 990px;
  height: 82px;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 10px;
}
.aqfoot li {
  float: left;
  width: 234px;
  border-right: 1px solid #ebebeb;
  padding: 7px 0 5px 30px;
  color: #666;
  height: 48px;
  line-height: 28px;
}
.aqfoot li:last-child {
  border-right: none;
}
.aqfoot li h4 {
  margin: 0;
  font-weight: 700;
}
.aqfoot li p {
  margin-top: 8px;
  font-size: 12px;
}
.about_link {
  text-align: center;
  width: 990px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}
.about_link a {
  display: inline-block;
  width: 70px;
  font-size: 12px;
  color:black;
}
.about_link a:hover {
  color: red;
}
.about_mt {
  width: 990px;
  height: 26px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  color: #999;
  line-height: 26px;
  font-size: 12px;
}
.foot_img {
  height: 55px;
  text-align: center;
}
.foot_img img {
  margin-left: 10px;
}
