<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">总和</div></div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8319501"><span class="bet-content">总和大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319502"><span class="bet-content">总和小</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8319503"><span class="bet-content">总和单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319504"><span class="bet-content">总和双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8319506"><span class="bet-content">总大单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319507"><span class="bet-content">总大双</span> <span class="bet-item"></span></div>
    </div>

    <div class="row">
        <div class="col col-50 bet ok" data-id="8319508"><span class="bet-content">总小单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319509"><span class="bet-content">总小双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319505"><span class="bet-content">总和810</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok"></div>
    </div>

    <div class="row text-center">
        <div class="col title-no">第1球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319601"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319602"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319603"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319604"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第2球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319605"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319606"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319607"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319608"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第3球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319609"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319610"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319611"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319612"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第4球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319613"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319614"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319615"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319616"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第5球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319617"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319618"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319619"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319620"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第6球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319621"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319622"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319623"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319624"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第7球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319625"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319626"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319627"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319628"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第8球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319629"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319630"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319631"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319632"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第9球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319633"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319634"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319635"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319636"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第10球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319637"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319638"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319639"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319640"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第11球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319641"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319642"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319643"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319644"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第12球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319645"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319646"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319647"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319648"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第13球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319649"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319650"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319651"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319652"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第14球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319653"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319654"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319655"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319656"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第15球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319657"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319658"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319659"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319660"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第16球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319661"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319662"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319663"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319664"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第17球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319665"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319666"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319667"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319668"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第18球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319669"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319670"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319671"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319672"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第19球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319673"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319674"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319675"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319676"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
    <div class="row text-center">
        <div class="col title-no">第20球</div>
    </div>
    <div class="row">
        <div class="col col-50 bet ok" data-id="8319677"><span class="bet-content">大</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319678"><span class="bet-content">小</span> <span class="bet-item"></span></div>
    </div>
    <div class="row end">
        <div class="col col-50 bet ok" data-id="8319679"><span class="bet-content">单</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319680"><span class="bet-content">双</span> <span class="bet-item"></span></div>
    </div>
</ion-content>