<ion-content class="bet-view">
    <div class="row text-center"><div class="col title-no">正码</div></div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319801"><div class="bet-content round-1">1</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319802"><div class="bet-content round-1">2</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319803"><div class="bet-content round-1">3</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319804"><div class="bet-content round-1">4</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319805"><div class="bet-content round-1">5</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319806"><div class="bet-content round-1">6</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319807"><div class="bet-content round-1">7</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319808"><div class="bet-content round-1">8</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319809"><div class="bet-content round-1">9</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319810"><div class="bet-content round-1">10</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319811"><div class="bet-content round-1">11</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319812"><div class="bet-content round-1">12</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319813"><div class="bet-content round-1">13</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319814"><div class="bet-content round-1">14</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319815"><div class="bet-content round-1">15</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319816"><div class="bet-content round-1">16</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319817"><div class="bet-content round-1">17</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319818"><div class="bet-content round-1">18</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319819"><div class="bet-content round-1">19</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319820"><div class="bet-content round-1">20</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319821"><div class="bet-content round-1">21</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319822"><div class="bet-content round-1">22</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319823"><div class="bet-content round-1">23</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319824"><div class="bet-content round-1">24</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319825"><div class="bet-content round-1">25</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319826"><div class="bet-content round-1">26</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319827"><div class="bet-content round-1">27</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319828"><div class="bet-content round-1">28</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319829"><div class="bet-content round-1">29</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319830"><div class="bet-content round-1">30</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319831"><div class="bet-content round-1">31</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319832"><div class="bet-content round-1">32</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319833"><div class="bet-content round-1">33</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319834"><div class="bet-content round-1">34</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319835"><div class="bet-content round-1">35</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319836"><div class="bet-content round-1">36</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319837"><div class="bet-content round-1">37</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319838"><div class="bet-content round-1">38</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319839"><div class="bet-content round-1">39</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319840"><div class="bet-content round-1">40</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319841"><div class="bet-content round-1">41</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319842"><div class="bet-content round-1">42</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319843"><div class="bet-content round-1">43</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319844"><div class="bet-content round-1">44</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319845"><div class="bet-content round-1">45</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319846"><div class="bet-content round-1">46</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319847"><div class="bet-content round-1">47</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319848"><div class="bet-content round-1">48</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319849"><div class="bet-content round-1">49</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319850"><div class="bet-content round-1">50</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319851"><div class="bet-content round-1">51</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319852"><div class="bet-content round-1">52</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319853"><div class="bet-content round-1">53</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319854"><div class="bet-content round-1">54</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319855"><div class="bet-content round-1">55</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319856"><div class="bet-content round-1">56</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319857"><div class="bet-content round-1">57</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319858"><div class="bet-content round-1">58</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319859"><div class="bet-content round-1">59</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319860"><div class="bet-content round-1">60</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319861"><div class="bet-content round-1">61</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319862"><div class="bet-content round-1">62</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319863"><div class="bet-content round-1">63</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319864"><div class="bet-content round-1">64</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319865"><div class="bet-content round-1">65</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319866"><div class="bet-content round-1">66</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319867"><div class="bet-content round-1">67</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319868"><div class="bet-content round-1">68</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319869"><div class="bet-content round-1">69</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319870"><div class="bet-content round-1">70</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319871"><div class="bet-content round-1">71</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319872"><div class="bet-content round-1">72</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319873"><div class="bet-content round-1">73</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319874"><div class="bet-content round-1">74</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319875"><div class="bet-content round-1">75</div><div class="bet-item"></div></div>
    </div>

    <div class="row">
        <div class="col col-33 bet ok" data-id="8319876"><div class="bet-content round-1">76</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319877"><div class="bet-content round-1">77</div><div class="bet-item"></div></div>
        <div class="col col-33 bet ok" data-id="8319878"><div class="bet-content round-1">78</div><div class="bet-item"></div></div>
    </div>

    <div class="row end">
        <div class="col col-50 bet ok" data-id="8319879"><span class="bet-content round-1">79</span> <span class="bet-item"></span></div>
        <div class="col col-50 bet ok" data-id="8319880"><span class="bet-content round-1">80</span> <span class="bet-item"></span></div>
    </div>

</ion-content>